$color-primary: #188038;
$color-primary-light: rgba(24, 128, 56, 0.7);
$color-primary-light-2: rgba(24, 128, 56, 0.5);
$color-primary-light-3: rgba(24, 128, 56, 0.21);

$color-secondary: #2a3356;
$color-secondary-light: rgba(42, 51, 86, 0.8);
$color-secondary-light-2: rgba(42, 51, 86, 0.15);

$color-grey: #7f849a;
$color-grey-light: rgba(118, 118, 118, 0.7);
$color-grey-light-2: rgba(255, 255, 255, 0.7);
$color-grey-light-3: rgba(38, 38, 38, 0.2);
$color-grey-dark: #767676;

$color-yellow: #ffe000;
$color-blue: #00a1ff;
$color-white: #fff;
$color-black: #000;

// FONT

// $font-primary: "Euclid Circular B";
$font-primary: "Noto Sans Arabic";
$font-secondary: "Product Sans Medium";
